// * {
//   margin: 0;
//   padding: 0;
// } //为啥会影响tailwind.css

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'PingFang SC', AlibabaPuHuiTi !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--el-text-color-primary);
}
#app {
  width: 100%;
  height: 100%;
}
/* 放在你的 global.css 或者 tailwind.css 末尾 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome、Safari */
}
