:root {
  --primary-color: #ff3c3b;
  --side-bg-color: #f0f3f6;
  --hover-bg-color: #e4e8ec;

  --app-text-hover-color: #fff;
  --app-text-color: #333;
  //icon
  --icon-color: #999;
  --icon-hover-color: #666;

  //footer
  --footer-bg-color: #fafafa;
  //main
  --main-bg-color: #f7f9fc;
}
