:root {
  --primary-color: #ea4e50;
  --side-bg-color: #f0f3f6;
  --hover-bg-color: #e4e8ec;

  --app-text-hover-color: #fff;
  --app-text-color: #333;
  //icon
  --icon-color: #999;
  --icon-hover-color: #666;
}
